<h2>Lista de Clientes</h2>

<div class="form-group row">
    <label class="col-sm-2 col-form-label">Procurar cliente :</label>
    <div class="col-sm-10">
        <input [(ngModel)]="filter" class="from-control">
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Preço</th>
            <th>Cpf</th>
            <th>Dias de hospedagem</th>
            <th>Opção de quarto</th>
            <th>Pacote</th>

        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let course of filteredCourses">
            <td>{{ course.name }}</td>
            <td>{{ course.precoTotal }}</td>
            <td>{{ course.cpf }}</td>
            <td>{{ course.quantidadeDias }}</td>
            <td>{{ course.opcaoQuarto }}</td>
            <td>{{ course.pacote }}</td>
            <td>
            <a [routerLink]="['/course/info', course.id]" class="btn btn-light mr-2">Edit</a>
            <button (click)="deleteById(course.id)" class="btn btn-dark">Delete</button>
            </td>


        </tr>
    </tbody>

</table>