<h2>Cadastrar novo fornecedor</h2>

<br/>

<form #fornecedorForm="ngForm" >

    <div class=" form-group row">
        <label class="col-sm-2 col-form-label">Nome:</label>
        <div class="col-sm-10">
            <textarea [(ngModel)]="fornecedor.nome" required name="nome" #fornecedorNome="ngModel" 
                [ngClass]="{'is-invalid': fornecedorNome.invalid}" class="form-control"></textarea>
            
            <div class="invalid-feedback">
                <span>insira o nome do fornecedor</span>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">CNPJ:</label>    
        <div class="col-sm-10">
            <textarea [(ngModel)]="fornecedor.cnpj" required name="cnpj" #fornecedorCnpj="ngModel" 
                [ngClass]="{'is-invalid': fornecedorCnpj.invalid}" class="form-control"></textarea>
            
            <div class="invalid-feedback">
                <span>insira o cnpj do fornecedor</span>
            </div>
        </div>        
    </div>

<div class="form-group row">
        <label class="col-sm-2 col-form-label">Produto:</label>    
        <div class="col-sm-10">
            <textarea [(ngModel)]="fornecedor.produto" required name="produto" #fornecedorProduto="ngModel" 
                [ngClass]="{'is-invalid': fornecedorProduto.invalid}" class="form-control"></textarea>
            
            <div class="invalid-feedback">
                <span>insira o nome do produto</span>
            </div>
        </div>        
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label"> Quantidade Diaria:</label>    
        <div class="col-sm-10">
            <textarea [(ngModel)]="fornecedor.quantidadeDia" required name="quantidadeDia" #fornecedorQuantidadeDia="ngModel" 
                [ngClass]="{'is-invalid': fornecedorQuantidadeDia.invalid}" class="form-control"></textarea>
            
            <div class="invalid-feedback">
                <span>insira a quantidade diaria</span>
            </div>
        </div>        
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Valor diario:</label>    
        <div class="col-sm-10">
            <textarea [(ngModel)]="fornecedor.valorDiario" required name="valorDiario" #fornecedorValorDiario="ngModel" 
                [ngClass]="{'is-invalid': fornecedorValorDiario.invalid}" class="form-control"></textarea>
            
            <div class="invalid-feedback">
                <span>insira o valor diario</span>
            </div>
        </div>        
    </div>

    

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Quantidade Mensal:</label>    
        <div class="col-sm-10">
            <textarea [(ngModel)]="fornecedor.quantidadeMes" required name="quantidadeMes" #fornecedorQuantidadeMes="ngModel" 
                [ngClass]="{'is-invalid': fornecedorQuantidadeMes.invalid}" class="form-control"></textarea>
            
            <div class="invalid-feedback">
                <span>insira a quantidade mensal</span>
            </div>
        </div>        
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Valor Mensal:</label>    
        <div class="col-sm-10">
            <textarea [(ngModel)]="fornecedor.valorMes" required name="valorMes" #fornecedorValorMes="ngModel" 
                [ngClass]="{'is-invalid': fornecedorValorMes.invalid}" class="form-control"></textarea>
            
            <div class="invalid-feedback">
                <span>insira o valor mensal</span>
            </div>
        </div>        
    </div>

    <button  (click)="save()" class="btn btn-info mr-2">Save</button>
    <button [routerLink]="['/fornecedor']" class="btn btn-secondary">Back</button>

</form>