<h2>Lista de Clientes</h2>

<div class="form-group row">
    <label class="col-sm-2 col-form-label">Procurar cliente :</label>
    <div class="col-sm-10">
        <input [(ngModel)]="filter" class="from-control">
    </div>
    <a [routerLink]="['/clientes/novo']" class="btn btn-dark mr-2">Novo</a>

</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Preço</th>
            <th>Cpf</th>
            <th>Dias de hospedagem</th>
            <th>Opção de quarto</th>
            <th>Pacote</th>

        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let clientes of filteredClientes">
            <td>{{ clientes.name }}</td>
            <td>{{ clientes.precoTotal }}</td>
            <td>{{ clientes.cpf }}</td>
            <td>{{ clientes.quantidadeDias }}</td>
            <td>{{ clientes.opcaoQuarto }}</td>
            <td>{{ clientes.pacote }}</td>
            <td>
            <a [routerLink]="['/clientes/info', clientes.id]" class="btn btn-light mr-2">Edit</a>
            <button (click)="deleteById(clientes.id)" class="btn btn-dark">Delete</button>
            </td>


        </tr>
    </tbody>

</table>